/* Zero out margins, borders and padding on the html, body and div tags */
html, div
{
margin:0;
border:0;
padding:0;
}

/* General */
body
{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:70%;
background:#fff;
color:#333;
padding:10px 0px;
margin:0px;
}
a
{
color:#0000FF;
background:#fff;
text-decoration:none;
}
a:hover
{
color:#FF0000;
background:#fff;
text-decoration:underline;
}
p, address
{
font-size:1em;
line-height:1.4em;
}
.emphasis
{
font-weight:700;
}
.error, .warning, .info
{
color:#c60000;
background-color:#fff;
}

/* Main DIVs - position & color */
.wrapper
{
width:758px;
margin:0px auto;
border:1px solid #333;
}
#wrapper-a /* To be used with 3-column layout */
{
color:#333;
background:#fff url(../images/bg-a.gif) repeat-y;
}
#wrapper-b /* To be used with 2-column layout */
{
color:#333;
background:#fff url(../images/bg-b.gif) repeat-y;;
/*background:#fff url(../images/bg-b.gif) repeat-y;*/
}
#masthead
{
width:758px;
height:141px;
background:#253C86 url(../images/header.jpg);
color:#fff;
}
#leftcol
{
float:left;
width:162px;
margin-bottom:10px;
}
#leftnav
{
float:left;
width:162px;
}
#leftnav ul
{
margin:0;
padding:0;
}
#leftnav li
{
display:block;
margin:0;
padding:0;
list-style-type:none;
border-bottom:1px solid #AA9C9C;
}
#leftnav a
{
display:block;
width:162px;
text-decoration:none;
text-indent:25px;
line-height:1.7em;
color:#000;
font-weight:bold;
background:#eee url(../images/bullet_left.gif) no-repeat 10px;
}
#leftnav a:hover
{
color:#CC3300;
background-color:#F3F3F3;
}
#middlecol
{
float:left;
width:596px;
border:0px solid #ff0000;
padding-bottom:10px;
}
#middlecol p
{
margin-top:10px;
margin-bottom:10px;
}

.rightcol
{
float:left;
}
#rightcol-a /* To be used with 3-column layout */
{
width:162px;
}
#rightcol-b /* To be used with 2-column layout */
{
width:596px;
}
#footer
{
clear:left;
width:758px;
background-color:#253C86;
color:#fff;
border-top:1px solid #333;
}

/* Top navigation - horizontal */


#topnav{
width: 758px;
float:left;
border-bottom:1px solid #fff;
border-top:1px solid #fff;
background-color:#253C86;
color:#fff;
}
#topnav ul {
margin:0px;
padding:0px;
list-style-type: none;
float:left;
}
#topnav li
{
font-weight:bold;
list-style-type:none;
text-align:center;
float:left;
margin-right:1px;
}
#topnav li a
{
background:#253C86 url(../images/bg_topnav.gif);
color:#000;
text-decoration:none;
padding:3px 25px;
display:block;
position:relative;
}
#topnav li a:hover
{
color:#000;
background:#253C86 url(../images/bg_topnav_hover.gif);
}
#topnav li.lastlink
{
background:none;
}
/* Call now */
#callnow
{
float:right;
padding:2px 20px 2px 25px;
font-size:1.2em;
font-weight:bold;
font-family:Arial, Helvetica, sans-serif;
background:url(../images/callnow.gif) no-repeat 0px;
}
#middlecol h1,#rightcol-b h1
{
margin:15px 10px 0 10px;
padding:0;
font-size:1.5em;
font-weight:700;
color:#CC3300;
background:#fff;
}

#leftcol h2, #rightcol-a h2, .weblog h2
{
background:#253C86;
color:#fff;
margin:0;
border-bottom:1px solid #333;
padding:5px 0 5px 10px;
font-size:1.1em;
font-weight:700;
}

#middlecol h2
{
font-size:1.2em;
}
/* 2-column layout */
#rightcol-b
{
padding-bottom:20px;
}
#rightcol-b h2, #rightcol-b h3, #rightcol-b p,#middlecol p,.weblog, #middlecol h2
{
margin-left:10px;
margin-right:10px;
}

#rightcol-b h2
{
font-size:1.2em;
font-weight:700;
color:#c60000;
padding-bottom:0px;
margin-bottom:0px;
background-color:#fff;
}
#rightcol-b #map
{
float:right;
margin:10px 40px 0px 0px;
border:1px solid #333;
}
#features
{
clear:both;
padding-bottom:10px;
text-align:center;
margin-top:100px;
}
#features img
{
margin-top:10px;
}

form
{
margin:0;
}
form p
{
clear:left;
margin:2px 0;
}
form span.warning
{
margin-left:0.25em;
}
fieldset
{
margin:10px;
border:1px solid #253C86;
padding-bottom:10px;
}
legend
{
margin:0 0 0.5em 0;
padding:0.25em 0.5em;
border:1px solid #333;
background-color:#253C86;
color:#fff;
font-size:1em;
font-weight:700;
}
label
{
float:left;
width:200px;
margin:2px 0;
font-weight:700;
vertical-align:middle;
}
#enquiry-form label
{
width:200px;
}
input, textarea
{
float:left;
margin:2px 0;
border:1px solid #253C86;
font-family:Arial,Geneva,Helvetica,sans-serif;
font-size:1em;
color:#333;
background-color:#fff;
}
input
{
width:15em;
}
select
{
float:left;
margin:2px 0;
}
input.button
{
float:none;
width:10em;
padding:0px 6px 0px 6px;
border:2px outset #D5C9DC;
background-color:#253C86;
color:#fff;
line-height:normal !important;
text-align:center;
font-weight:700;
}
/* Specific to Callback and Enquiry forms */

#enquiryform p input.button
{
margin-left:200px;
}
#callbackform p input.button
{
margin-left:120px;
}
#callbackform label
{
width:120px;
}

/* Recommend message box*/
#msgbox
{
width:300px;
margin:10px 0 0 130px;
color:#333;
background-color:#fff;
border:1px solid #253C86;
}
#msgcap
{
padding-left:10px;
color:#fff;
background-color:#253C86;
border-bottom:1px solid #013567;
font-weight:700;
}
#msg p
{
margin:4px 10px;
}

/* Weblog */
.weblog h3, .weblog p
{
font-size:0.9em;
}
.weblog h3
{
margin-bottom:0;
}
.weblog p
{
margin-top:0;
}

/* Footer */
#footer p
{
margin:0;
border:0;
padding:2px;
text-align:center;
}
#footer a
{
color:#fff;
background:#253C86;
}
.imgLeft
{
float:left;
margin:0px 10px 10px 10px;
}
.clearBoth
{
clear:both;
}
.homeimg
{
width:117px;
height:90px;
margin:5px;
border:4px double #253C86;
}
#middlecol ul li,#rightcol-b ul li
{
padding-top:0px;
margin-top:5px;
}
.center
{
text-align:center;
}
a img
{
border:none;
}
h3.contact
{
margin-bottom:0px;
}
h3
{
font-size:1.2em;
color:#CC3300;
background:#fff;
}
#contact-us p{
margin-top:0px;
margin-bottom:0px;
padding-top:5px;
}
#rightcol-b h2.contact
{
margin-bottom:0px;
padding-bottom:0px;
}
hr
{
clear:both;
margin:0px 10px;
}
.wpform form {
    margin: 10px 25px;
    width: 400px;
}

.wpform form dt {
	clear: both;
	width: 130px;
	float: left;
	text-align: left;
}

.wpform .wpfrequired {
    color: #f00;
	background:#fff;
    font-weight: bold;
}

.wpform form dd {
	float: left;
	width: 200px;
	margin: 0 0 0.5em 0.25em;
}
#callmeback
{
float:left;
background:#fff url('../images/img-call-back.jpg') no-repeat right 0px;
width:161px;
font-size:10px;
padding-bottom:5px;
margin:10px auto 10px auto;
color:#000;
font-family:Arial, Helvetica, sans-serif;
}
#callmeback p, #login-form p
{
margin:0;
padding:0;
}
#callmeback p
{
font-size:1.1em;
}
#login-form p
{
font-size:1em;
}
#callmeback input.one, label.one
{
width:140px;
margin:2px 0 0 10px;
font-weight:normal;
}
#callmeback input.two
{
width:90px;
float:left;
margin:2px 0 0 10px;
font-weight:normal;
}
#callmeback input.three
{
width:50px;
float:left;
margin:2px;
background:#253C86;
color:#fff;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:10px;
font-weight:bold;
padding:0px;
text-align:center;
}
#callmeback .text
{
margin:10px 0px 0px 10px;
font-weight:bold;
float:left;
font-size:13px;
}
.img_gallery
{
margin:5px 10px;
border:2px outset #eee;
width:170px;
height:130px;
}
#slogan
{
float:left;
font-family:Arial, Helvetica, sans-serif;
margin-top:58px;
margin-left:20px;
font-size:2.5em;
font-weight:bold;
}
#callmeback-home
{
float:left;
width:300px;
}
#callmeback-home input, #callmeback-home label
{
width:120px;
}
#callmeback-home input.submit
{
margin-left:120px;
padding:0px;
float:left;
color:#fff;
background-color:#253C86;
} 
#callmeback-home h2
{
margin-bottom:10px;
}